<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeaf.mybatishelper.mapper.MTemplateMapper">
  <resultMap id="BaseResultMap" type="com.loeaf.mybatishelper.model.MTemplate">
    <!--@mbg.generated-->
    <!--@Table "template"-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="regist_datetime" jdbcType="TIMESTAMP" property="registDatetime" />
    <result column="modified_datetime" jdbcType="TIMESTAMP" property="modifiedDatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, regist_datetime, modified_datetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from "template"
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from "template"
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.loeaf.mybatishelper.model.MTemplate">
    <!--@mbg.generated-->
    insert into "template" (id, regist_datetime, modified_datetime
      )
    values (#{id,jdbcType=VARCHAR}, #{registDatetime,jdbcType=TIMESTAMP}, #{modifiedDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.loeaf.mybatishelper.model.MTemplate">
    <!--@mbg.generated-->
    insert into "template"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="registDatetime != null">
        regist_datetime,
      </if>
      <if test="modifiedDatetime != null">
        modified_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="registDatetime != null">
        #{registDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDatetime != null">
        #{modifiedDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loeaf.mybatishelper.model.MTemplate">
    <!--@mbg.generated-->
    update "template"
    <set>
      <if test="registDatetime != null">
        regist_datetime = #{registDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDatetime != null">
        modified_datetime = #{modifiedDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loeaf.mybatishelper.model.MTemplate">
    <!--@mbg.generated-->
    update "template"
    set regist_datetime = #{registDatetime,jdbcType=TIMESTAMP},
      modified_datetime = #{modifiedDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>